@tailwind base;
@tailwind components;
.simple {
    @apply font-bold py-2 px-4 rounded;
}
.primary {
    @apply bg-blue-500 text-white hover:bg-blue-700;
}
.danger {
    @apply bg-red-500 text-white hover:bg-red-700;
}
.secondery {
    @apply bg-gray-500 text-white;
}
.success {
    @apply bg-green-700 text-white;
}
.warning {
    @apply bg-yellow-700 ;
}
.outline-primary {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
}
.outline-secondary {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
}
.outline-danger {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
}
.outline-success {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded;
}
.outline-warning {
    @apply bg-transparent hover:bg-yellow-500 text-yellow-500 font-semibold hover: py-2 px-4 border border-yellow-500 hover:border-transparent rounded;
}
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
